#Rooms rect{
    fill: #84cded;
    stroke:#000000;
    stroke-width:0.14;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
}

#svg16 rect:hover {
fill: #c3e9fa !important;
stroke:#e8da6c !important;
}

