
#Buildings path {
	fill: #d1dce8;
	stroke: #ADB4D1;
	stroke-width: 0.18px;
}

#Buildings path:hover {
    fill: #c0c7d0;
	stroke: #9096af;
	stroke-width: 0.35px;
	cursor: pointer;
}

#Pathways path{
    fill: #616161;
    stroke-width: 0.18px;
}

#Ground path{
	fill: #b1e0a3;
    stroke: none;
}

#Roads path{
	fill: #989898;
	stroke-width: 0.18px;
}

#Text text {
	/* Prevent text from being hovered, instead target shape below */
    pointer-events: none;
}
