@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

body{
	background-color:#f5f6fa;
	color:#2d3436;
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
	box-sizing: border-box;
	background: rgb(230,126,34);
	background: linear-gradient(135deg, rgba(230,126,34,1) 0%, rgba(155,89,182,1) 100%);
}

*, *:before, *:after {
	box-sizing: inherit;
}

.clearfix {
	overflow: auto;
}

.card{
	background-color:#fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding:4em;
	width:28em;

	position:absolute;
	top:50%;
	left:50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	border-radius:2px;
}

.logo{
	font-size:2em;
	text-align:center;
	margin-bottom:2em;
}

#message{
	color:#ee5253;
	padding:0 2em;
	margin-bottom:2em;
	text-align:center;
	font-weight:500;
}

form{
	width:100%;
	padding:0;
	box-sizing:border-box;
}

form span.note{
	display:block;
	margin:2em 0;
	padding:0 1em;
	border-radius:2px;
	color:rgba(0,0,0,0.5);
	text-align:center;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	-ms-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

form span.note.triggered{ color:#ee5253; }
form span.note.calm{ color:#1dd1a1; }

.group{
	width:100%;
	position:relative; 
	margin-bottom:2em; 
}

input{
	box-sizing:border-box;
	font-size:inherit;
	padding:10px 10px 10px 5px;
	display:block;
	width:100%;
	border:none;
	border-bottom:1px solid #757575;
}
input:focus{ outline:none; }

label{
	color:#999; 
	font-size:1em;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label{
	top:-20px;
	font-size:14px;
	color:#2d3436;
}

.bar{
	position:relative; 
	display:block; 
	width:100%;
}
.bar:before, .bar:after{
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:#2d3436; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}
.bar:before{ left:50%; }
.bar:after{ right:50%; }

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* Buttons */

input.button{
	border-radius:2px;
	padding:1em;
	font-weight:bold;
	background:none;
	border:none;
	color:inherit;
	margin-top:1em;
	cursor:default;
	background-color:rgba(0,0,0,0.1);
	color:rgba(0,0,0,0.3);
	-webkit-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	-ms-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	transition: background 0.2s ease;
}

input.button.enabled{
	cursor:pointer;
	background-color:#2d3436;
	color:#fff;
}