
#Buildings path {
	fill: #D9DDEB;
	stroke: #ADB4D1;
}

#Buildings path:hover {
    fill: green;
}

#Pathways path{
    fill: #616161;
    stroke: none;
}

#Ground path{
	fill: #8BE786;
    stroke: #64D85E;
}

#Roads path{
	fill: #616161;
}

#Text text {
	/* Prevent text from being hovered, instead target shape below */
    pointer-events: none;
}
