
/***********/
/* Default */
/***********/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.svg-buildings path{
	fill: #dbdbdb;
	stroke: #cccccc;
	stroke-width: 0.18px;
     
}

.svg-buildings path:hover {
    fill: #c7c7c7;
	stroke:#a5a5a5;
	stroke-width: 0.24px;
	cursor: pointer;
   
   
}

@-moz-document url-prefix() {
    .svg-buildings path{
	fill: #dbdbdb;
	stroke: #cccccc;
	stroke-width: 0.18px;
    -webkit-filter: drop-shadow(0.3px 0.3px 3px rgba(0, 0, 0, 0.4));
     
    }   
}

.svg-pathways path{
    fill: #616161;
    stroke-width: 0.18px;
}

.svg-ground path{
	fill: #afd18c;
    stroke: none;
}

.svg-ground rect{
	fill: #f0f0f0;
}

.svg-roads path{
	fill: #c0c1c3;
}

.svg-text text {
	/* Prevent text from being hovered, instead target shape below */
    
    pointer-events: none;
    font-size: 0.15em;
   	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/*************/
/* Dark Mode */
/*************/

.darkmode .svg-buildings path {
	fill: #066733;
	stroke: #FFF;
	stroke-width: 0px;
}

.darkmode .svg-buildings path:hover {
    fill: #066733;
	stroke: #FFF;
	stroke-width: 0.35px;
	cursor: pointer;
}

.darkmode .svg-pathways path{
    fill: #384351;
    stroke-width: 0.18px;
}

.darkmode .svg-ground path{
	fill: #152237;
    stroke: none;
}

.darkmode .svg-ground rect{
	fill: #242f3e;
}

.darkmode .svg-roads path{
	fill: #212121;
	stroke-width: 0.18px;
}

.darkmode .svg-text text {
	/* Prevent text from being hovered, instead target shape below */
	font: 0.15em arial, sans-serif;
    pointer-events: none;
    fill:#000;
    stroke:#000;
}


/********************/
/* ColourBlind Mode */  
/********************/

/* CURRENTLY THE SAME AS DEFAULT */

.colourblindmode .svg-buildings path{
	fill: #d1dce8;
	stroke: #ADB4D1;
	stroke-width: 0.18px;
}

.colourblindmode .svg-buildings path:hover {
    fill: #c0c7d0;
	stroke: #9096af;
	stroke-width: 0.35px;
	cursor: pointer;
}

.colourblindmode .svg-pathways path{
    fill: #616161;
    stroke-width: 0.18px;
}

.colourblindmode .svg-ground path{
	fill: #b1e0a3;
    stroke: none;
}

.colourblindmode .svg-ground rect{
	fill: #ebebeb;
}

.colourblindmode .svg-roads path{
	fill: #989898;
	stroke-width: 0.18px;
}

.colourblindmode .svg-text text {
	/* Prevent text from being hovered, instead target shape below */
    pointer-events: none;
    font: 0.15em arial, sans-serif;
}