@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

html, body {
	height: 100vh;
	width:100vw;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #f7f7f7;
	color:#2d3436;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: visible;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.svg-pan-zoom_viewport {
    transition: transform 0.5s ease;
}

#overlay {
    position: relative;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
}

#loadimg {

    display: block;
     position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 450px;
    height: 500px;
}

#pathFinderTemp {
    margin-top: 5em;
}

a{
	color:#2d3436;
}

.center{
	width:100%;
	max-width:800px;
	margin:0 auto;
}

.center.search-page{
	padding-top:calc(50vh - 4em - 1em - 2.8em);
	max-width:560px;
	box-sizing:border-box;
}

#map, #map object#stage{
	height: 100vh;
	width: 100%;
}

#map object#stage{
	background-color:#f0f0f0; /*MUST MATCH WITH MAP GROUND RECTANGLE */
}

#zoom-controls{
	overflow:hidden;
	border-radius:4px;
	background-color:#fff;
	bottom:32px;
	left:32px;
	position:absolute;
	border:1px solid rgba(0,0,0,0.15);
	box-shadow: 0 2px 3px rgba(0,0,0,0.06);
}

#zoom-controls button{
	cursor:pointer;
	float:left;
	background:none;
	height:2em;
	width:2em;
	font-size:1.2em;
	color:rgb(134, 134, 134);
	outline:none;
}

#zoom-controls button:hover{
	background-color:rgba(0,0,0,0.1);
	color:#000;
}

#zoomIn{
    border: none; 
}

#zoomOut {
    border: none;
    border-left: 1px solid rgba(206, 206, 206, 0.72);
}

#map_centre {
    border: none;
    border-left: 1px solid rgba(206, 206, 206, 0.72);
}

#home {
    padding: 2px;
    border: none;
    border-left: 2px solid rgba(206, 206, 206, 0.72);
    
}

/* SEARCH BAR & LOGO */

#topbar{
	box-sizing:border-box;
	position:absolute;
	width:100%;
	top:0;
	left:0;
	padding:2em 4em;
}

#topbar::after {
	content: "";
	clear: both;
	display: table;
}

#logo{
	float:left;
	text-align:center;
	color:#2d3436;
	font-size:2.2em;
	height:2.2em;
	font-weight:300;
	margin-right:1em;
            cursor: pointer;

               	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#search{
	float:left;
	font-size:1.2em;
	border:1px solid rgba(0,0,0,0.15);
	box-shadow:0 2px 3px rgba(0,0,0,0.06);
	background-color:#fff;
	height:2.2em;
	border-radius:4px;
	overflow:hidden;
}

#search::after {
	content: "";
	clear: both;
	display: table;
}

#search input{
	float:left;
	width:calc(100% - 2.8em);
	height:100%;
	font-size:inherit;
	box-sizing:border-box;
	position:relative;
	padding-left:0.75em;
	border:none;
	box-shadow:none;
}

#search input:focus{ outline:0; }

#search a{
	position:relative;
	float:right;
	display:inline-block;
	line-height:100%;
	height:100%;
	width:2.8em;
	color:rgb(134, 134, 134);
}

#search a:hover{ background-color:#3d528a; }
#search a:hover > i.material-icons{ color:#fff; }

#search a i.material-icons{
	position:absolute;
	top:calc(50% - 12px);
	left:calc(50% - 12px);
}

/* USER PANEL */

#user-panel{
	float:right;
	color:#2d3436;
}

#user-panel::after {
	content: "";
	clear: both;
	display: table;
}

#user-panel .user{
	margin-left:8px;
	float:right;
}

#user-panel .user::after {
	content: "";
	clear: both;
	display: table;
}

#user-panel .material-icons{
	float:left;
	font-size:2.2em;
	margin-right:8px;
}

#user-panel .details{
	float:left;
}

#user-panel .details .email{
	float:left;
	clear:right;
}

#user-panel .details a.link{
	float:left;
	color:inherit;
	text-decoration:none;
	font-weight:bold;
	font-size:0.8em;
	clear:left;
}

/* SIDEBAR */

#sidebar{
	background-color:#fff;
	position:absolute;
	height:100vh;
	box-sizing:border-box;
	width:22em;
	top:0;
	right:-22em;
	transition: right 0.3s ease-out 0s;
	border-left:1px solid rgba(0,0,0,0.15);
	padding:32px;
}

#sidebar.open{
	right:0;
}

#sidebar .navigation{
	top:16px;
	left:-96px;
	position:absolute;
	text-align:center;
}

#sidebar .navigation::after {
	content: "";
	clear: both;
	display: table;
}

#sidebar .navigation span{
	position:relative;
	background-color:#f7f7f7;
	border:1px solid rgba(0,0,0,0.15);
	text-align:center;
	box-sizing:border-box;
	float:left;
	text-decoration:none;
	color:inherit;
	padding:16px;
	border-radius:50%;
	clear:left;
	margin-bottom:16px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#sidebar .navigation span:last-child{
	margin-bottom:0;
}

#sidebar .navigation span:hover{
	background-color:#d9d9d9;
	cursor:pointer;
}

#sidebar .navigation span .material-icons{
	font-size:2em;
	line-height:1em;
}

#sidebar .navigation span span{
	position:absolute;
	right:-0.5em;
	bottom:-0.5em;
	width:2em;
	height:2em;
	line-height:2em;
	font-size:0.8em;
	background-color:#e74c3c;
	color:#fff;
	border-radius:50%;
	padding:0;
}

#sidebar .navigation span span:hover{
	background-color:#e74c3c;
	cursor:default;
}

#sidebar .navigation span:last-child{
	margin-right:0px;
}

#sidebar .navigation span.selected{
	background-color:#2d3436;
	color:#fff;
}

.tab-content{
	display:none;
}

.tab-content.visible{
	display:initial;
}

.tab-content div.heading, .tab-content div.subheading{
	font-weight:bold;
	margin-bottom:16px;
}

.tab-content div.heading{
	font-size:2em;
}

.tab-content div.subheading{
	font-size:1.2em;
}

.tab-content hr{
    border: 0;
    height: 1px;
    background: rgba(0,0,0,0.1);
    margin: 32px 0px;
}

.card {
	position:relative;
	margin-bottom:1em;
	padding-left:0.5em;
	border-left:0.5em solid #dadada;
	border-radius:4px;
}

.card .delete-deadline{
	display:none;
}

.card:hover .delete-deadline{
	display:inline;
}

#timetable{
	position:relative;
	box-sizing:border-box; 
	height:calc(100vh - 12em); 
	padding-bottom:4em;
	overflow-y:scroll;
	overflow-x: auto; 
}
/* Remove ugly scrollbar */
#timetable::-webkit-scrollbar { display: none; }

#no-events{
	background-color:;
}

#timetable .day{
	position:relative;
	color:rgba(0,0,0,0.75);
	display:block;
	margin-bottom:2em;
}

#timetable .day:last-child{
	margin-bottom:0;
}

#timetable .day .day-label{ 
	display:block;
	margin-bottom:0.66em;
	font-weight:bold;
	font-size:1.2em;
}

#timetable .day.today .day-label{ color:#3d528a; }

#timetable .card{
	box-sizing:border-box;
}

#timetable .day.today .card{ border-left:0.5em solid #3d528a; }

.card::after {
	content: "";
	clear: both;
	display: table;
}

#timetable .card:last-child{
	margin-bottom:0;
	padding-bottom:0;
}

#timetable .card .start-end-location{
	font-weight:bold;
	font-size:0.8em;
}

#timetable .card .start-end-location a{
	text-decoration:none;
	color:inherit;
}

#timetable .card .start-end-location a:hover{
	text-decoration:underline;
}


/*****************************************************

    SIDEBAR Map Data Population Styles

*****************************************************/

#linkgen {
    color: #0a5c81;
    cursor: pointer;
    text-decoration: underline;
    font-size: 18px;
}

.linkSet {
    color: #1faae8;
    cursor: pointer;
    text-decoration: underline;

}


#itemTitle {
    font-weight: 500;
    font-size: 26px;
}

#panel-title {
    padding-bottom: 1%;
    font-weight: 500;
    font-size: 22px;
}

#panel-title-h1 {
    width: 100%;
    padding-bottom: 1%;
    border-bottom: 5px solid #e0e0e0;
    font-weight: 500;
    font-size: 26px;
}

#panel-title-h2 {
    padding-top: 2%;
    font-weight: 500;
    font-size: 20px;
}

#itemIMG {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
#itemInfo {
    font-size: 18px;
}

#textSeperator {
    margin-top: 2%;
    padding-top: 2%;
    border-top: 3px solid #e0e0e0;
}


#smallRoomDetails {
    font-size: 14px;
    color: #818181;
}

/********************************************
                
            SIDEBAR PATHFINDER

*********************************************/

#pathfinder {
    margin-bottom: 5%;
    padding-bottom: 5%;
    border-bottom: 2px solid black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#startPoint {
        margin-bottom: 1%;
    padding-bottom: 2%;
    border-bottom: 1px solid black;
    font-size: 16px;
    margin: 1%;
}

#searchSection {
    margin-bottom: 1%;
    padding-bottom: 2%;
    font-size: 16px;
    margin: 1%;
}

.searchButton {
    margin-top: 2%;
	border-radius:4px;
	background-color:#efefef;
	border:1px solid rgba(0,0,0,0.15);
	box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    cursor:pointer;
	font-size:1.2em;
	color:rgb(134, 134, 134);
	outline:none;
}

.searchButton:hover {
    background-color:#c7c7c7;
}

#options {
    margin-bottom: 1%;
    padding-bottom: 2%;
    border-bottom: 1px solid black;
    font-size: 16px;
    width: 80%;
}




/*****************************************************

    MAP FILTER CONTROLS

*****************************************************/

#mapFilterBox {
    position: absolute;
    float: left;
    bottom: 3em;
    left: 0;
    width: 375px;
    height: 50px;
    background-color: #fcfcfc;
    margin-left: 3em;
    padding: 10px;
    box-shadow:0 4px 4px rgba(0,0,0,0.06);
    border:1px solid rgba(0,0,0,0.05);
    border-radius:4px;
}

.parkToggle {
    width: 150px;
    height: 25px;
    background-color: white;
    border:1px solid rgba(0,0,0,0.15);
	box-shadow:0 2px 3px rgba(0,0,0,0.06);
}

.parkToggle a{
    font-size: 1em;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}


.switch {
    position: absolute;
    margin-top: 2.5px;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  #f3a221;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}














#deadlines{

}

#deadlines h1{
	font-size:1.2em;
	font-weight:bold;
}

#deadlines .card a{
	text-decoration:none;
}

#deadlines .card a:hover{
	text-decoration:underline;
}

#deadlines .card a.delete-deadline{
	display:none;
	position:absolute;
	right:0;
	top:calc(50% - 1em);
	width:2em;
	height:2em;
	line-height:2em;
	border-radius:1em;
	text-align:center;
}

#deadlines .card:hover a.delete-deadline{
	display:block;
	background-color:#fff;
}

#deadlines .card a.delete-deadline:hover{
	text-decoration:none;
}




form input[type=text], form input[type=datetime-local], form select{
	width:100%;
	border-radius:2px;
	border:1px solid #757575;
	margin-bottom:8px;
	padding:8px;
}

form input[type=submit]{
	width:100%;
	border-radius:2px;
	padding:1em;
	font-weight:bold;
	background:none;
	border:none;
	-webkit-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	-ms-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	transition: background 0.2s ease;
	background-color:#2d3436;
	color:#fff;
	cursor:pointer;
}


@media only screen and (max-width: 1000px) {

	.center.search-page{
		padding:calc(50vh - 4em - 1em - 2.8em) 2em 0 2em;
	}

	#sidebar{
		height:auto;
		width:100%;
		display:block;
		position:relative;
		left:auto;
		top:auto;
		right:auto;
	}

	#sidebar .navigation{
		top:16px;
		left:0px;
		position:absolute;
		text-align:center;
	}

	#topbar{
		background-color:#fff;
		padding: 16px 32px;
	}

	#topbar::after {
		content: "";
		clear: both;
		display: table;
	}

	#logo{
        cursor: pointer;
		float:none;
		height:auto;
		margin-right:0;
		margin-bottom:8px;
	}

	#search{
		float:none;
	}

	#user-panel{
		float:none;
		text-align:center;
		margin-top:8px;
	}

	#zoom-controls{
		display:none;
	}

	#sidebar .navigation{
		position:relative;
		left:auto;
		top:auto;
	}

	#sidebar .navigation span{
		clear:none;
	}
}